In [1]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- The most common DS langauages
- The most common DS tools
- The basic arithmetic operations

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. matplotlib
3. ggplot

|  Data Science tools |
|  ------------------ |
|  Jupyter Notebook   |
|  R Studio           |
|  Watson             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/3

66.66666666666667

## Author
Sasa Dragisa Draskovic